body {
  background-color: #f2f2f2;
}

/* - - - - - - - - - -Header - - - - - - - - */

header {
  background-color: #fecc01;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

header img {
  height: 40%;
}

/* # # # # # # # # # # # # # # HERO # # # # # # # # # # # # */

.hero {
  height: 40vh;
  border-style: solid;
  border-width: 1px;
  position: relative;
  /* background-color: tomato; */
}

.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.hero span {
  color: white;
  position: absolute;
  font-size: 2rem;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat";
  font-weight: 600;
  text-shadow: 1px 1px 1px black;
  z-index: 100;
}

/* # # # # # # # # # # # # # # MENU # # # # # # # # # # # # */

.menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  /* padding-left: 300px; */
  /* padding-right: 300px; */
  font-weight: bold;
  overflow: scroll;
}
.menu * {
  flex: 0 0 auto;
}
.menu li {
  cursor: pointer;
}

.menu div {
  transform: scale(0.8);
  display: flex;
  align-items: center;
}
.menu div:hover {
  cursor: pointer;
}

/* # # # # # # # # # # # # # # Page de Resultats # # # # # # # # # # # # */

.moviespage {
  display: flex;
  flex-wrap: wrap;
}

/* On contraint hauteur et largeur dans le conteneur */
.details {
  width: calc(50% - 10px);
  /* width: 45%; */
  height: 200px;
  display: flex;
  margin: 4px;
  background-color: white;
  box-shadow: 2px 2px #888888;
}

/* //contrainte de la largeur de la photo. La nav prendra le reste de la largeur */
.details picture {
  flex: 0 0 auto;
  height: 100%;
  width: 135px;
  margin-right: 20px;
}

.details picture img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* scroll en cas de depassement de la hauteur contrainte par la boite detail */
.details nav {
  display: flex;
  /* overflow: scroll; */
  /* text-overflow: ellipsis; */
  flex-direction: column;
  /* padding-top: 20px; */
  font-size: 0.6rem;

  margin: 10px;
}

.details nav span:nth-child(1) {
  font-weight: bold;
  font-size: 0.8rem;
}
.details nav span:nth-child(2) {
  color: grey;
  font-size: 0.7rem;
}
