body {
  background-color: #f2f2f2;
}

/* - - - - - - - - - -Header - - - - - - - - */

header {
  background-color: #fecc01;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

header img {
  height: 40%;
}

/* - - - - - - - - - -Hero - - - - - - - - */

.hero {
  height: 40vh;
  border-style: solid;
  border-width: 1px;
  position: relative;
  /* background-color: tomato; */
}

.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.hero span {
  color: white;
  position: absolute;
  font-size: 2rem;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat";
  font-weight: 600;
  text-shadow: 1px 1px 1px black;
  z-index: 100;
}

/* - - - - - - - - - -Details - - - - - - - - */

.details {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin: 40px;
  background-color: white;
}

.details div {
  display: flex;
}

.details div picture {
  height: 350px;
  width: 200px;
  margin-right: 20px;
}

.details div picture img {
  /* height: 100%; */
  width: 100%;
  object-fit: cover;
}

.details div nav {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

/* - - - - - - - - - -TexteLine - - - - - - - - */
.textline span:nth-child(1) {
  color: grey;
  margin-right: 10px;
  margin: 10px;
}
.textline span:nth-child(2) {
  color: blue;
  margin: 10px;
}
